table {
    min-width: 0;
}
tr td{
    padding: var(--spacing-4);
}
table.table th,
table.table td {
    padding: var(--spacing-8) var(--spacing-16);
    border-color: var(--border);
    border-width: 1px;
    border-bottom-style: solid;

    text-align: start;
}
table.table td {
    padding: var(--spacing-12) var(--spacing-16);
}
table.table th {
    font-weight: 600;
    text-align: left;
    color: var(--text-muted);
}

table.table tbody tr:hover{
    background-color: color-mix(in srgb, var(--bg-layer2), transparent 50%);
}

table.table tbody tr td{
    min-width: 7rem;
    color: var(--text);
}
table.table thead th,
table.table thead td {
    border-width: 2px;
}

table.table tfoot th,
table.table tfoot td {
    border-width: 2px;
    border-bottom-style: none;
    border-top-style: solid;
}