.tabs{
    margin: var(--spacing-8);

    ul{
        display: flex;
        border-bottom: 1px solid var(--border);
    }
    ul li{
        padding: var(--spacing-8) var(--spacing-16);
        font-weight: 400;
        cursor: pointer;
    }
    ul li.active{
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
    }

}