form{
    font-weight: 400;
}
input, select,textarea {
    border: 1px solid var(--border);
    border-radius: var(--border-radius-6px);

    background: transparent;

    padding: var(--spacing-8);
    color: var(--text);

    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}
input:focus,
select:focus,form textarea:focus {
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 1px var(--primary);
}
textarea{
    resize: vertical;
    box-sizing: border-box;
    height: 2.5rem;
    display: block;
}
input[type=checkbox], input[type=radio] {
    margin: 0;
    height: 1em;
    width: 1em;
    border-color: var(--border);
    accent-color: var(--primary);
}
option{
    background-color: var(--bg-layer1);
}
input[type="file"]{
    cursor: pointer;
    border: 1px solid var(--border);
    display: block;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}
input[type="file"]::file-selector-button {
    color: var(--text-muted);
    background: var(--bg-layer2);
    cursor: pointer;
    border: 0;
    border-right: 1px solid var(--border);
    margin-inline: -1rem 1rem;
    padding: .625rem 1rem .625rem 2rem;
    font-weight: 500;
}

.form-label{
    display: block;
    flex: 1;
    color: var(--text-muted);
}
label.optional::after {
    content: " (optional)";
    color: var(--text-muted);
    font-weight: 300;
}
label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}
.form-radio{
    margin-left: var(--spacing-4);
    color: var(--text-muted);
}
.form-submit{
    margin: var(--spacing-20) 0;
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-12);
}
.validation{
    color: var(--danger);
}
.form-helper{
    margin: var(--spacing-4) 0;
    color: var(--text-muted);
    font-size: var(--font-12);
    font-style: italic;
    font-weight: 300;
    display: block;
}
.password{
    position: relative;
    display: inline-block;
    width: 100%;
}
.toggle-password{
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--text-muted);
}
.toggle-password.active{
    color: var(--primary);
}