.alert{
    background: var(--bg-layer1);

    display: flex;
    justify-content: space-between;

    top: 0;
    right: 0;
    z-index: 999;

    padding: var(--spacing-8) var(--spacing-16);
    margin-bottom: var(--spacing-12);

    border-radius: var(--border-radius-6px);
    border: 1px solid var(--border);

    color: var(--text);
    font-weight: 400;

    width: 20rem;


    svg{
        width: var(--icon-small);
        height: var(--icon-small);
    }
}
.alert.active{
    display: none;
}

.alert-content{
    display: flex;
    gap: var(--spacing-12);
    align-items: center;
}
.alert-danger{
    svg{
        color: var(--danger);
    }
}

.alert-info{
    svg{
        color: var(--info);
    }
}

.alert-success{
    svg{
        color: var(--success);
    }
}

.alert-warning{
    svg{
        color: var(--warning);
    }
}
