/*--------------BUTTON-------------*/
button{
    color: inherit;
    font-size: inherit;
    font-weight: 400;
}
.btn{
    cursor: pointer;
    display: inline-block;

    font-family: var(--font-style);
    font-size: var(--font-16);
    font-weight: 400;
    text-align: center;

    padding: var(--spacing-8) var(--spacing-16);
    height: fit-content;

    border-radius: var(--border-radius-3px);
    border: 1px solid var(--border);
    transition: all 0.2s ease-in-out;

    background-color: var(--bg-layer1);

    color: white;
}
body.light .btn {
    color: #000;
}
.btn:hover,
.btn:focus {
    filter: brightness(120%);
}

body.light .btn:hover,
body.light .btn:focus {
    filter: brightness(90%);
}

.btn:disabled{
    pointer-events: none;
    opacity: .65;
}
.btn-danger{
    background-color: var(--danger);
    border: 1px solid var(--danger);
    color: white !important;
}
/*pada button primary ketika gelap dan terang tetap putih teksnya*/
.btn-primary,
body.light .btn-primary{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
}
.btn-secondary{
    background-color: var(--bg-layer2);
    border: 1px solid var(--bg-layer2);
}
.btn-med{
    padding: var(--spacing-8) var(--spacing-12);
    font-size: 14px;
}
.btn-small{
    padding: var(--spacing-4) var(--spacing-8);
    font-size: var(--font-12);
}
.btn-large{
    padding: var(--spacing-12) var(--spacing-20);
    font-size: var(--font-24);
}



