.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-16);
}
.card{
    padding: var(--spacing-12);
    border-radius: var(--border-radius-6px);
    border: 1px solid var(--border);
    width: fit-content;
    max-width: 23rem;

    flex: 1 1 calc(33.333% - 16px);
}
.card-blog{
    background-color: var(--bg-layer2);
}
.card-blog-img{
    border-radius: var(--border-radius-6px) var(--border-radius-6px) 0 0 ;
}
.card-header{
    margin-top: var(--spacing-8);
}
.card-title{
    font-size: var(--font-20);
    font-weight: 500;
}
.card-description{
    margin-top: var(--spacing-8);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: var(--text-muted);
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}