
.dashboard-table-subhead{
    background-color: var(--bg-layer1);
    border-radius: var(--border-radius-6px);
}
.dashboard-table-subhead .head-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-table-subhead .head-2{
    padding: var(--spacing-8) var(--spacing-12);
}

.dashboard-table{
    margin: var(--spacing-16) 0;
    border-radius: var(--border-radius-6px);
    background-color: var(--bg-layer1);
    min-height: 20rem;

    box-sizing: border-box;
}
table thead{
    background: color-mix(in srgb, var(--primary), transparent 85%);
}

table .btn-actions{
    padding: var(--spacing-8) var(--spacing-12);
    display: flex;
    gap: var(--spacing-12);

    a{
        cursor: pointer;
    }
}