.dashboard-container{
    display: grid;
    grid-template-columns: auto 1fr;

    height: 100vh;
    width: 100vw;
}

/*=====SIDEBAR*/
.sidebar{
    height: 100vh;
    width: 250px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    border-right: 1px solid var(--border);
    background-color: var(--bg-layer1);

    svg{
        width: var(--icon-base);
        height: var(--icon-base);
        color: var(--text);
        cursor: pointer;
    }
}
.sidebar .sidebar-header{
    height: 3.5rem;
    padding: var(--spacing-8) var(--spacing-12);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-8);
}


.sidebar .sidebar-menu{
    flex: 1;
    padding: 0 var(--spacing-8);
}
.sidebar-menu .list-menu{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}
/*menu item*/
.sidebar-menu .menu-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);

    cursor: pointer;
    width: 100%;
    font-weight: 400;

    overflow-y: auto;

    border-radius: var(--border-radius-3px);

    padding: var(--spacing-4) var(--spacing-12);
}
.sidebar-menu .menu-item:hover{
    background-color: color-mix(in srgb, var(--primary), transparent 85%);
}
.sidebar-menu .menu-item.active{
    background-color: color-mix(in srgb, var(--primary), transparent 85%);
    color: var(--primary);
    svg{
        color: var(--primary);
    }
}
.sidebar-menu .menu-item-group{
    padding: var(--spacing-4) var(--spacing-16);
    color: var(--text-muted);
}
.dropdown{
    display: none;
}
.dropdown.active{
    display: block;
}




/*=====CONTENT*/
.content{
    overflow-y: auto;
    background-color: color-mix(in srgb, var(--bg-layer1), grey 10%);
}
.content .content-header{
    height: 3.5rem;
    background-color: var(--bg-layer1);
    border-bottom: 1px solid var(--border);

    padding: var(--spacing-8) var(--spacing-12);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content .content-main{
    padding: var(--spacing-12);
}
.content-main .header{
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-16) var(--spacing-12);
}